.carrousel-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left; 
  }
  
  .carrousel-container h1 {
    font-size: 48px;
    margin-top: 20px;
    color: red; 
    text-align: left !important;
    display: flex;
  }
